# Start Code for {{name}}
logging.info("Create Ledstrip object called: {{name}}")
if '{{name}}' not in locals():
    {{name}} = LedstripWrapper(ledDevice={{deviceLabel}},fastrakDevice={{deviceLabelFT}})